<div class="container" style="text-align: center; margin-top: 10px">
    <h1>Car Management</h1>
    <p-button icon="pi pi-plus" *ngIf="personService.current_user.role == RoleName.admin"
              (onClick)="carService.changePage('car/create')"
              label="Create New Car" severity="success"/>
    <p-button (onClick)="personService.mainTransition(carService)" label="Logout" severity="danger"/>
</div>

<p-table
  #dt2
  [value]="carService.cars"
  dataKey="id"
  stripedRows="true"
  [rows]="1"
  [rowsPerPageOptions]="[1, 2, 5]"
  [loading]="loading"
  [columns]="cols"
  [paginator]="true"
  [globalFilterFields]="['id', 'brand', 'model', 'engineType']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [scrollable]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          (input)="dt2.filterGlobal($event.target, 'contains')"
          placeholder="Search keyword"
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" style="min-width:300px">{{ col.header }}</th>
    </tr>
    <tr>
      <th pSortableColumn="id">
        <p-columnFilter
          type="text"
          field="id"
          placeholder="Search by id"
          [matchModeOptions]="matchModeOptions"
        ></p-columnFilter>
        <p-sortIcon field="id" />
      </th>
      <th pSortableColumn="brand">
        <p-columnFilter
          type="text"
          field="brand"
          placeholder="Search by brand"
          [matchModeOptions]="matchModeOptions"/>
        <p-sortIcon field="brand" />
      </th>
      <th pSortableColumn="model">
        <p-columnFilter
          type="text"
          field="model"
          placeholder="Search by model"
          [matchModeOptions]="matchModeOptions"/>
        <p-sortIcon field="model" />
      </th>
      <th  pSortableColumn="engineType">
        <p-columnFilter
          type="text"
          field="engineType"
          placeholder="Search by engine type"
          [matchModeOptions]="matchModeOptions"/>
        <p-sortIcon field="engineType" />
      </th>
      <th>

      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td>
        {{car.id}}
      </td>
      <td>
        {{car.brand}}
      </td>
      <td>
        {{car.model}}
      </td>
      <td>
        {{car.engineType}}
      </td>
      <td style="padding-left: 0; padding-right: 0" *ngIf="personService.current_user.role == RoleName.admin">
        <p-button icon="pi pi-search" (onClick)="carService.changePage('car/' + car.id + '/view',car)" label="View" severity="contrast" />
        <p-button icon="pi pi-file-edit" (onClick)="carService.changePage('car/' + car.id + '/edit',car)" label="Edit" severity="info" />
        <p-button icon="pi pi-trash" (onClick)="carService.delete_without_toast(car)" label="Delete" severity="danger" />
      </td>
      <td style="padding-left: 0; padding-right: 0" *ngIf="personService.current_user.role == RoleName.user">
        <p-button icon="pi pi-cart-arrow-down" (onClick)="carService.changePage('car/' + car.id + '/to_reserve',car)" label="Reserve" severity="success" />
        <p-button icon="pi pi-list" (onClick)="carService.changePage('car/' + car.id + '/list_reserve',car)" label="View List" severity="info" />
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">No cars found.</td>
    </tr>
  </ng-template>
</p-table>

