<h2>Reserve Page Menu</h2>

<p-date-picker [(ngModel)]="date" [minDate]="minDate"
               [maxDate]="maxDate" [readonlyInput]="true" />

<div style="align-content: center">
  <p-floatlabel variant="on">
    <input pInputText id="on_label" [(ngModel)]="name_value" autocomplete="off" />
    <label for="on_label">Brand</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <input pInputText id="on_label2" [(ngModel)]="contact_value" autocomplete="off" />
    <label for="on_label2">Model</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <input pInputText id="on_label3" [(ngModel)]="license_value" autocomplete="off" />
    <label for="on_label3">License</label>
  </p-floatlabel>
  <p-button icon="pi pi-cart-plus" (onClick)="reserveCarElement()" label="Reserve Car" severity="success" />
  <p-button (onClick)="carService.changePage('car/index')" label="Back" severity="danger" [outlined]="true"/>

</div>
